$blue-light: #40B4DC;
$blue-dark: #0c202f;
$red: #E80029;
$black: #000;
$white: #fff;
$grey-x-light:#f1f1f1;
$grey-light:#d2d2d2;
$grey-medium:#8c8c8c;
$grey-dark:#5a5a5a;
$grey-form:#C8C8C8;
